
.container{
  display: flex;
  width: 300px;
  height:fit-content;
  padding: 10px;
  align-items: center;


}

.SearchResults {
  width: 100%;
  background-color: rgba(171, 0, 194, 0.294);
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
}



::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}