.Track {
    display: flex;
    width:100%;
    align-items: center;
    flex-direction: column;
    padding: 2px 2px 2px;
    border: 1px;
    border-color: rgb(139, 34, 130);
    background-color: rgba(225, 225, 225, 0.331);
    box-shadow: rgba(210, 126, 203, 0.857);
}

.Track-action {
    width: 50%;
    height: 2rem;
    cursor: pointer;
    border: 2px solid black;
    transition: color .15s;
    color: white;  
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 2px;
    background-color: rgb(255, 0, 225);
    &:hover {
        background-color:rgb(21, 1, 21); 
    }
   
}

.Track-information {
    align-items: center;
}

.Track-information p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 2px;
    color:rgb(255, 255, 255);
    background-color: rgba(255, 0, 225, 0.446);
}

.PlayButton {
    color: rgb(255, 0, 247);
    background-color: rgb(42, 2, 44);
    border-radius: 25px;
    width: 100px;
    box-shadow: 4px 5px 6px rgba(187, 0, 255, 0.75);
}

.PlayButton:hover {
    color: rgba(255, 0, 247, 0.406);
    background-color: rgb(88, 11, 92);
    border-radius: 25px;
    width: 100px;
    box-shadow: 10px 8px 7px rgba(255, 6, 168, 0.75);
}
